image: mcr.microsoft.com/dotnet/sdk:5.0.102-ca-patch-buster-slim

variables:
  DOTNET_VERSION: net5.0
  TEST_PROJECT_NAME: Shapes.Tests
  PATH_TO_ASSEMBLY: bin/Debug/$DOTNET_VERSION

stages:
  - unit_tests
  - publish_nuget

unit_tests:
  stage: unit_tests
  script:
    - /usr/sbin/update-ca-certificates   
    - cd ./Shapes/
    - dotnet build
    - export PATH="$PATH:/root/.dotnet/tools"
    - dotnet tool install --global coverlet.console
    - coverlet "./$TEST_PROJECT_NAME/$PATH_TO_ASSEMBLY/$TEST_PROJECT_NAME.dll" --target "dotnet" --targetargs "test ./$TEST_PROJECT_NAME/$TEST_PROJECT_NAME.csproj --no-build" --merge-with ./coverage.json
  rules:
        - when: always

publish_nuget:
  stage: publish_nuget
  script:
    - cd ./Shapes/
    - dotnet pack -c Release
    - dotnet nuget add source "$CI_SERVER_URL/api/v4/projects/$CI_PROJECT_ID/packages/nuget/index.json" --name gitlab --username gitlab-ci-token --password $CI_JOB_TOKEN --store-password-in-clear-text
    - dotnet nuget push "./$TEST_PROJECT_NAME/bin/Release/*.nupkg" --source gitlab
  only:
    - master
